[package]
name = "rustbin"
version = "0.5.2"
authors = ["Sunil Kumar <badboy16a@gmail.com>"]
edition = "2021"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bitflags = "2"
byteorder = "1"
chrono = "0.4"

[lib]
name = "librustbin"
path = "src/lib.rs"
